        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="map"><span class="logo-text">Home Cook</span>
                        <a type="button" ui-sref="cookprofile" ng-hide="currentUser.username" class="btn btn-default navbar-btn">Cook Profile</a>
                        <a type="button" ui-sref="userprofile" ng-hide="currentUser.username" class="btn btn-default navbar-btn">User Profile</a>
                    </a>
                    <a type="button" class="btn btn-default navbar-btn">Log Out</a>
                    <a type="button" ui-sref="login" ng-hide="currentUser.username" class="btn btn-default navbar-btn">Log In</a>
                    <a type="button" ui-sref="join" ng-hide="currentUser.username" class="btn btn-default navbar-btn">Register</a>
                    <a type="button" ui-sref="order" ng-hide="currentUser.username" class="btn btn-default navbar-btn">Order</a>
                    <a type="button" ui-sref="list" ng-hide="currentUser.username" class="btn btn-default navbar-btn">List</a>
                </div>
                <p class="navbar-text">{{currentUser.username}}</p>
            </div>
        </nav>