
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                    <ul>
                        <li>{{User.profile.name}}</li><button type="submit" ng-click="editUser($index)">edit</button>
                       <!--  <li>{{Lastname}}</li><button>edit</button>
                        <li>{{Surname}}</li><button>edit</button>
                        <li>{{Location}}</li><button>edit</button>
                        <li>{{Birthday}}</li><button>edit</button>
                        <li>{{img}}</li><button>edit</button>
                        <li>{{password}}</li><button>edit</button>
                        <li>{{email}}</li><button>edit</button> -->
                        <!-- <li>{{Payment}}</li><button>edit</button> -->
                    </ul></br>
            </div>
        </div>
    </div>


</html>